<p>
  <strong>Name:</strong>
  <%= @gig.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @gig.location %>
</p>
<p>
  <strong>Date:</strong>
  <%= @gig.date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @gig.description %>
</p>
<%= link_to 'Edit', edit_gig_path(@gig) %>
<%= link_to 'All Gigs', gigs_path %>